
html, body {
    height: 100%;
    margin: 0;   
    background-color: #1d1d46;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
    color: white;
}
#wrapper {
    min-height: 100%; 
}

.footer {
    background-color: #171737;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, .2);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 18px;
}
.footer b {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
}
.waveform {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.waveform svg {
    margin-top: 32px;
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
    transform: rotateY(180deg);
}
.waveform .shape-fill {
    fill: #171737;
}

.nav-left {
    left: 10px;
    position: absolute;
}
.nav-right {
    right: 0px;
    position: absolute;
    margin-right: 15px;
}
.nav-left a {
    color: white;
    float: right;
    padding: 20px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}
.nav-icon {
    height: 84px;
    width: 84px;
    margin-top: 8px;
    margin-left: 8px;
}
.nav-right a {
    color: white;
    float: left;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
}

.landing-showcase {
    height:100vh;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    margin: 0;
    background-color: #000;
    box-shadow: 1px 3px 30px rgba(0,0,0,.7);
}
.landing-showcase img {
    width:100%;
    height: 100%;
    background-color: #000;
}
.landing-projects-header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
}
.landing-projects-container {
    display: flex;
    place-content: center;

}
.landing-project-card {
    width: 312px;
    height: 456px;
    background-image: url("../img/312x456.jpg");
    margin-left: -2rem;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, .2);
    transition: transform 0.2s;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.landing-project-card:hover {
    transform: translate3d(0px, 20px, 20px);
    z-index: 1;
}
.landing-project-card:hover ~ .landing-project-card, 
.landing-project-card:focus-within ~ .landing-project-card {
    transform: translate3d(31px, 0px, -20px);
    z-index: -1;
}

.landing-team {
    margin-top: 128px;
    margin-bottom: 84px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.landing-team-header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}
.landing-team-rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 12px;
    row-gap: 52px;
}
.landing-team-rows-card-outer {
    overflow: inherit;
}
.landing-team-rows-card {
    height: 50px;
    width: 300px;
    display: block;
}
.landing-team-rows-card img {
    border-radius: 100px;
    height: 50px;
    width: 50px;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, .2);
}
.landing-team-rows-card b {
    text-align: left;
    position: absolute;
    margin-top: 0px;
    margin-left: 9px;
    font-weight: bold;
    font-size: 15px;
}
.landing-team-rows-card p {    
    font-size: 12px;
    text-align: left;
    position: absolute;
    margin-top: -32px;
    margin-left: 60px;
}
.landing-team-rows-card-url {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    position: absolute;
    background-color: #2e6099;
    font-size: 12px;
    border-radius: 2px;
    padding: 4px 6px;
    margin-top: -12px;
    margin-left: 60px;
}